{% use "form_div_layout.html.twig" %}

{# Bloques por defecto para la mayoría de los campos #}
{%- block form_widget_simple -%}
    {% set base_class = 'p-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 w-full' %}
    {% if type is defined and (type == 'checkbox' or type == 'radio') %}
        {% set base_class = 'h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500' %}
    {% endif %}

    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' ' ~ base_class)|trim
    }) %}

    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' p-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 w-full')|trim
    }) %}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' p-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 w-full')|trim
    }) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}


{# Bloques personalizados para etiquetas flotantes #}
{%- block floating_label_row -%}
    <div class="relative z-0">
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
    {{ form_errors(form) }}
{%- endblock floating_label_row -%}

{%- block floating_label_widget -%}
    {% set widget_class = 'block py-2.5 px-0 w-full text-sm border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer text-gray-900 dark:text-white' %}
    {% set attr = attr|merge({'style': 'border-radius: 0;'}) %}
    {# Lógica de validación #}
    {% if submitted and not valid %}
        {% set widget_class = widget_class ~ ' border-red-600 dark:border-red-500 focus:border-red-600 dark:focus:border-red-500' %}
    {% elseif submitted and valid %}
        {% set widget_class = widget_class ~ ' border-green-600 dark:border-green-500 focus:border-green-600 dark:focus:border-green-500' %}
    {% else %}
        {% set widget_class = widget_class ~ ' border-gray-300 dark:border-gray-600 focus:border-blue-600 dark:focus:border-blue-500' %}
    {% endif %}

    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' ' ~ widget_class)|trim,
        'placeholder': ' '
    }) %}
    {{- block('form_widget_simple') -}}
{%- endblock floating_label_widget -%}

{%- block floating_label_label -%}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% set label_class = 'absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %}

        {# Lógica de validación #}
        {% if submitted and not valid %}
            {% set label_class = label_class ~ ' text-red-600 dark:text-red-500 peer-focus:text-red-600 dark:peer-focus:text-red-500' %}
        {% elseif submitted and valid %}
            {% set label_class = label_class ~ ' text-green-600 dark:text-green-500 peer-focus:text-green-600 dark:peer-focus:text-green-500' %}
        {% else %}
            {% set label_class = label_class ~ ' text-gray-500 dark:text-gray-400 peer-focus:text-blue-600 dark:peer-focus:text-blue-500' %}
        {% endif %}

        {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' ' ~ label_class)|trim }) %}

        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label -}}
            {% if required -%}
                <span class="required" title="Este campo es obligatorio">*</span>
            {%- endif -%}
        </label>
    {% endif %}
{%- endblock floating_label_label -%}

{%- block form_errors -%}
    {% if errors|length > 0 %}
        <p class="mt-2 text-xs text-red-600 dark:text-red-400">
            {% for error in errors %}
                <span class="font-medium">{{ error.message }}</span>
            {% endfor %}
        </p>
    {% endif %}
{%- endblock form_errors -%}
