{% use "form_div_layout.html.twig" %}

{%- block form_widget_simple -%}
    {% set base_class = 'p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full' %}
    {% if type is defined and (type == 'checkbox' or type == 'radio') %}
        {# Use smaller, more appropriate classes for checkboxes and radios #}
        {% set base_class = 'h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500' %}
    {% endif %}

    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' ' ~ base_class)|trim
    }) %}

    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full')|trim
    }) %}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({
        'class': (attr.class|default('') ~ ' p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full')|trim
    }) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {%- if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {#- Remove whitespace between label and asterisk -#}
            {{- label|trans({}, translation_domain) -}}
            {%- if required -%}<span class="text-red-500">*</span>{%- endif -%}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_row -%}
    {% set text_types = ['text', 'email', 'password', 'number', 'tel', 'search', 'url', 'date', 'time', 'datetime-local'] %}
    {% set type = type|default('text') %}

    {% if type in text_types %}
        <div class="fieldset-style">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_row -%}