{% extends 'layout/app.html.twig' %}

{% block title %}Comunicaciones{% endblock %}

{% block page_title %}Inventario de Comunicaciones{% endblock %}

{% block content %}
    <div class="mb-4 border-b border-gray-200">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" role="tablist">
            <li class="mr-2" role="presentation">
                <a href="{{ path('app_admin_communications_talkies') }}" class="inline-block p-4 border-b-2 rounded-t-lg {% if app.request.attributes.get('_route') == 'app_admin_communications_talkies' %}border-blue-500 text-blue-600{% endif %}">Talkies</a>
            </li>
            <li class="mr-2" role="presentation">
                <a href="{{ path('app_admin_communications_batteries') }}" class="inline-block p-4 border-b-2 rounded-t-lg {% if app.request.attributes.get('_route') == 'app_admin_communications_batteries' %}border-blue-500 text-blue-600{% endif %}">Baterías</a>
            </li>
            <li class="mr-2" role="presentation">
                <a href="{{ path('app_admin_communications_ptts') }}" class="inline-block p-4 border-b-2 rounded-t-lg {% if app.request.attributes.get('_route') == 'app_admin_communications_ptts' %}border-blue-500 text-blue-600{% endif %}">PTT</a>
            </li>
            <li class="mr-2" role="presentation">
                <a href="{{ path('app_admin_communications_mobiles') }}" class="inline-block p-4 border-b-2 rounded-t-lg {% if app.request.attributes.get('_route') == 'app_admin_communications_mobiles' %}border-blue-500 text-blue-600{% endif %}">Móviles</a>
            </li>
            <li class="mr-2" role="presentation">
                <a href="{{ path('app_admin_communications_phone_models') }}" class="inline-block p-4 border-b-2 rounded-t-lg {% if app.request.attributes.get('_route') == 'app_admin_communications_phone_models' %}border-blue-500 text-blue-600{% endif %}">Modelos de Teléfono</a>
            </li>
        </ul>
    </div>

    {% block communications_content %}{% endblock %}
{% endblock %}
