{% extends 'layout/app.html.twig' %}

{% block title %}Listado de sercicos{% endblock %}


{% block body %}
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="abiertos-tab" data-toggle="tab" href="#abiertos" role="tab" aria-controls="abiertos"
                aria-selected="true"><i class="fas fa-folder-open"></i> Abiertos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="archivados-tab" data-toggle="tab" href="#archivados" role="tab" aria-controls="archivados"
                aria-selected="false"><i class="fas fa-archive"></i> Archivados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ayuda-tab" data-toggle="tab" href="#ayuda" role="tab" aria-controls="ayuda"
                aria-selected="false"><i class="fas fa-question-circle"></i> Ayuda</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="abiertos" role="tabpanel" aria-labelledby="abiertos-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="padding:1em;">
                            <table id="tablaListadoServicios" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Título</th>
                                        <th>Asistentes</th>
                                        <th>Fecha</th>
                                        <th>Limite inscripción</th>
                                        <th>Tipo</th>
                                        <th>Categoría</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="listadoServicios">
                                    {% if services is defined and services is not empty %}
                                        {% for service in services %}
                                            <tr>
                                                <td>{{ service.numeration ?? 'N/A' }}</td>
                                                <td>{{ service.title }}</td>
                                                <td>{{ attendeesByService[service.id] | default(0) }}</td>
                                                <td>{{ service.startDate ? service.startDate|date('d/m/Y H:i') : 'N/A' }}</td>
                                                <td>{{ service.registrationLimitDate ? service.registrationLimitDate|date('d/m/Y H:i') : 'N/A' }}</td>
                                                <td>{{ service.type ?? 'N/A' }}</td>
                                                <td>{{ service.category ?? 'N/A' }}</td>
                                                <td>
                                                    {% if is_granted('ROLE_VOLUNTEER') %}
                                                        {% if assistanceByService[service.id] is defined and assistanceByService[service.id] %}
                                                            {# If already attending, show "No Asistir" #}
                                                            <a href="{{ path('app_service_unattend', {'id': service.id}) }}" class="btn btn-danger btn-sm">
                                                                No Asistir
                                                            </a>
                                                        {% else %}
                                                            {# If not attending, show "Asistir" #}
                                                            <a href="{{ path('app_service_attend', {'id': service.id}) }}" class="btn btn-success btn-sm">
                                                                Asistir
                                                            </a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-info btn-sm" title="Editar">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a href="{{ path('app_service_attendance', {'id': service.id}) }}" class="btn btn-primary btn-sm" title="Asistencia">
                                                            <i class="fas fa-users"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="8" class="text-center">No se encontraron servicios.</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- Cierra row -->
            </div> <!-- Cierra tab de servicios abiertos -->
            <div class="tab-pane fade" id="archivados" role="tabpanel" aria-labelledby="archivados-tab">
                <p>Archivados</p>
            </div> <!-- Cierra tab de servicios archivados -->

            <div class="tab-pane fade" id="ayuda" role="tabpanel" aria-labelledby="ayuda-tab">
                <p>Ayuda</p>
            </div> <!-- Cierra ayuda -->
        </div>
    </div> <!-- Cierra col-lg-12 -->
</div> <!-- Cierra row -->
{% endblock %}