{% extends 'layout/app.html.twig' %}

{% block title %}Editar Material{% endblock %}

{% block page_title %}Editar: {{ material.name }}{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form, {'attr': {'data-controller': 'material-sizing', 'enctype': 'multipart/form-data'}}) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.name) }}</div>
                    <div class="col-md-4">{{ form_row(form.category) }}</div>
                    <div class="col-md-4">
                        {{ form_row(form.sizingType, {'attr': {
                            'data-material-sizing-target': 'sizingType',
                            'data-action': 'change->material-sizing#updateGrid'
                        }}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% if material.imagePath %}
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Imagen Actual</label>
                                <div>
                                    <img src="{{ asset('uploads/material_images/' ~ material.imagePath) }}" 
                                         alt="{{ material.name }}" 
                                         class="img-thumbnail" 
                                         style="max-width: 200px;">
                                </div>
                            </div>
                        {% endif %}
                        {{ form_row(form.imageFile) }}
                    </div>
                </div>

                <div data-material-sizing-target="gridContainer"></div>

                <div class="row mt-3">
                    <div class="col-md-4">{{ form_row(form.nature) }}</div>
                    <div class="col-md-4">
                        {{ form_row(form.stock, {'attr': {'data-material-sizing-target': 'stockInput'}}) }}
                    </div>
                    <div class="col-md-4">{{ form_row(form.safetyStock) }}</div>
                </div>
                <div class="mt-4">
                    <button class="btn btn-primary btn-lg px-5 font-weight-bold">Actualizar</button>
                    <a href="{{ path('app_material_index') }}" class="btn btn-link text-secondary ml-3">Cancelar</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
