{% extends 'base.html.twig' %}

{% block title %}Página de Prueba de Formulario{% endblock %}

{% form_theme form 'form/tailwind_form_theme.html.twig' %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-4">Formulario de Prueba</h1>

        {{ form_start(form, {'attr': {'class': 'space-y-8'}}) }}
        <div class="space-y-4">
            <h2 class="text-xl font-semibold text-gray-900">Datos Personales</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {{ form_row(form.dni) }}
                {{ form_row(form.name) }}
                {{ form_row(form.lastName) }}
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {{ form_row(form.dateOfBirth) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
            </div>
        </div>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
