{% extends 'base.html.twig' %}

{% block title %}Dashboard del Voluntario{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Servicios Disponibles</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Servicios</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre del Servicio</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Lugar</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.date|date('d/m/Y') }}</td>
                            <td>{{ service.time|date('H:i') }}</td>
                            <td>{{ service.location }}</td>
                            <td>
                                <a href="{{ path('app_service_attend', {'id': service.id}) }}" class="btn btn-success btn-sm">Asisto</a>
                                <a href="{{ path('app_service_unattend', {'id': service.id}) }}" class="btn btn-danger btn-sm">No Asisto</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
